@import 'bulma/bulma.sass';

body {
  overflow-y: none;
}

.hero {
  display: flex;
  flex: 1 100%;
  height: 100vh !important;
  min-height: 100vh !important;
}

#chat-messages {
  position: relative;
  margin: 0px;
  background: #eee;
  flex: 1 94%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

#scroll-bottom {
  position: fixed;
  bottom: 15%;
  width: 100vw;
  text-align: center;
}

#infos {
  display: flex;
  flex: 1 3%;
  margin: 5px;
}

#static {
  background: transparent;
  display: flex;
  flex: 1 3%;
}

#load-more {
  @extend .button;
  @extend .is-link;
  text-align: center;
}
